<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="css3, animations, css, notification, timed, duration, box, overlay, carousel, jquery, responsive, fluid, elastic, resize, thumbnail, slider, accordion, sliding, vertical, hover, animation, slide, navigation, sibling selector, radio buttons, input, pseudo class" />
	<meta name="google-site-verification" content="qB4EJYsedM-QXqZpbtiVOtYFr9TI50Nb8UF3xkLRq6A"/>
	<title>inBar</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/own.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mypath.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css"/>

	<link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css"/>

	<link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- PARA SLIDER CON BACKGROUND-IMG ============================================================== -->
<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" /> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style3.css" />
	<script type="text/javascript" src="/js/modernizr.custom.86080.js"></script>

	<!-- PARA CARRUSEL MULTISLIDE ======================================================================== -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/general.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/elastislide.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />
	<script type="text/javascript" src="/js/modernizr.custom.17475.js"></script>

	<!-- PARA ACORDEONES Y CARRUSEL MINIS  ============================================================================ -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <noscript>
			<link rel="stylesheet" type="text/css" href="/stylesheets/styleNoJS.css" />
	</noscript>
	<noscript>
			<link rel="stylesheet" type="text/css" href="/stylesheets/noscript.css" />
	</noscript>

	<!-- PARA ACORDEON SLIDORION  ============================================================================ -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/slidorion.css" />

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/holder.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="/js/gmaps.js"></script>
	<script type="text/javascript" src="/js/geoRoutes.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



	<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/js/retina.min.js"></script>
	<script type="text/javascript" src="/js/modernizr.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script type="text/javascript" src="/js/sweetalert2.min.js"></script>
	<script type="text/javascript" src="/js/languageselector.js"></script>
	

	<!-- VARIABLES DEL BOTON FB ============================================================================ -->
	<meta property="og:url"                content="https://indoorbar.herokuapp.com/" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="When Great Minds Don’t Think Alike" />
	<meta property="og:description"        content="How much does culture influence creative thinking?" />
	<meta property="og:image"              content="/images/logoelsol.jpg" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('push', '_setCookieTimeout', 86400000);
	  	ga('create', 'UA-74755711-1', 'auto');
	  	ga('send', 'pageview');

	</script>

</head>

<body>

	<!-- RRSS ============================================================================================================= -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
	  		var js, fjs = d.getElementsByTagName(s)[0];
	  		if (d.getElementById(id)) return;
	  		js = d.createElement(s); js.id = id;
	  		js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5";
	  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
		!function(d,s,id) {
			var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)) {
				js=d.createElement(s);js.id=id;
				js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
			}
		}(document, 'script', 'twitter-wjs');
	</script>

	<!-- NAVBAR =========================================================================================================== -->
<!--		<% if (!session.user) { %>				lo pongo en index para que carge con el background-image
			<a href="/login">Login&nbsp;</a>
		<%}%> -->

		<% if (session.user) { %>
			<nav class="navbar navbar-default">		<!-- id="header" para aplicar el css -->
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <a class="navbar-brand" href="#">Brand</a> -->
						<a href="#inicio"><button type="button" class="btn btn-default btn-lg" >Jota Montoyo</button></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="/">Inicio <span class="sr-only">(current)</span></a></li>
							<li><a href="/inbar">inBAR </a></li>
							<li><a href="/quizes">Partes </a></li>
							<li><a href="/temas">Centros </a></li>
							<li><a href="/proveedores">Proveedores </a></li>
							<% if (session.user) { %>
								<li><a href="/contactos">Control Contactos </a></li>
							<% } %>
							<li><a href="/contactos/webform">Contacto </a></li>
							<li><a href="/quizes/statistics">Estadísticas </a></li>
							<li><a href="/db/index">DB </a></li>
						</ul>
	<!--					<form class="navbar-form navbar-left" method="get" role="search" action="/quizes?search=search">
							<div class="form-group">
								<input name="search" type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default" value="Enviar">Submit</button>
						</form>  -->
						<ul class="nav navbar-nav navbar-right">
							<div class="form-group" style="color: black">
								<%if(!session.user){%>
									<li><a href="/user">Sign up</a> - <a href="/login">Login&nbsp;</a></li>
								<%}else{%>
									<li><%=session.user.username%> -
										<a href="/user/<%=session.user.id%>/quizes">
											<span class="glyphicon glyphicon-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Home"></span></a> -
										<a href="/user/<%=session.user.id%>/edit">
											<span class="glyphicon glyphicon-cog" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Settings"></span></a> -
										<a href="/logout">
											<span class="glyphicon glyphicon-off" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="logOff"></span>&nbsp;</a>
									</li>
								<%}%>
							</div>
						</ul>
					</div> <!-- /.navbar-collapse -->
				</div>
			</nav>
		<%}%>


<!--		<div id="menu-inicio">
			<div class="row text-center" id="menu-inicio-content">

			</div>

		</div>
-->



	<!--header navigation -->
<!--    <header id="header">
  	<div class="header-content clearfix"> <a class="logo" href="#"><img src="images/floxy/logo.png" alt=""></a>
  	  <nav class="navigation" role="navigation">
  		<ul class="primary-nav">
  		  <li><a href="#intro">Abre tu franquicia</a></li>
  		  <li><a href="#services">Tienes un local</a></li>
  	<!--	  <li><a href="#works">Works</a></li>
  		  <li><a href="#teams">Our Team</a></li>
  		  <li><a href="#testimonials">Testimonials</a></li>    -->
  <!--		  <li><a href="#contact">Contact</a></li>


  			  <%if(!session.user){%>
  				  <li><a href="/user">Sign up</a> - <a href="/login">Login&nbsp;</a></li>
  			  <%}else{%>
				  <li><a href="/contactos">Control Contactos </a></li>
  				  <li><%=session.user.username%> -
  					  <a href="/user/<%=session.user.id%>/quizes">
  						  <span class="glyphicon glyphicon-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Home"></span></a> -
  					  <a href="/user/<%=session.user.id%>/edit">
  						  <span class="fa fa-cog" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Settings"></span></a> -
  					  <a href="/logout">
  						  <span class="glyphicon glyphicon-off" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="logOff"></span>&nbsp;</a>
  				  </li>
  			  <%}%>

  	  </ul>

  </nav>


  	  <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    </header> -->
    <!--header navigation -->

	<!-- CUERPO PRINCIPAL. RENDERIZA VISTAS =============================================================================== -->
	<div class="container-fluid">
		<div class="row">
			<% if (errors.length) { %>
				<span id='ErrorMsgs'>Corregir errores:<br/>
					<% for (var i in errors) { %>
						<span> <%= errors[i].message %> </span><br/>
					<% } %>
				</span>
			<% } %>
			<%- body %>	<!-- directiva ejs. body: convenio para cargar las vistas que se rendericen desde cualquier enrutador: index.js, quiz_controller.js... -->
		</div>
	</div>

	<!-- Modal ============================================================================================================ -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Título...</h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive" src="../images/jota.jpg" alt="Third slide">
					<h3>Página BootStrap</h3>
					<p>Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL POLITICA DE PRIVACIDAD ===================================================================================== -->
	<div class="modal fade" id="panel-lopd" tabindex="-1" role="dialog" aria-labelledby="myLOPD" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myLOPD">GRUPO inBAR</h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive" src="../images/logoelsol.jpg" alt="Third slide">
					<h3>Política de Privacidad</h3>
					<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, GRUPO INBAR, S.L. (en adelante, “INBAR” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web https://indoorbar.herokuapp.com (en adelante, el “Sitio Web”) acerca de su política de protección de los datos de carácter personal recogidos de los Usuarios del Sitio Web, para que éstos determinen libre y voluntariamente si desean facilitar a INBAR los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso del Sitio Web.</p>

					<p>Los únicos datos personales a los que INBAR tendrá acceso a través del Sitio Web serán aquellos que el Usuario facilite voluntariamente, así como aquellos otros recogidos a través de las cookies instaladas y cuya Política de Privacidad puede consultar en el siguiente enlace https://indoorbar.herokuapp.com/cookies.</p>

					<p>En cumplimiento de la normativa vigente, INBAR adopta las medidas técnicas y organizativas necesarias para mantener el nivel de seguridad requerido en atención a los datos personales tratados. Asimismo está dotado de los mecanismos precisos a su alcance para evitar en la medida de lo posible accesos no autorizados, sustracciones y modificaciones ilícitas y la pérdida de los datos.</p>

					<p>Tratamiento de datos de carácter personal facilitados a través del Sitio Web.</p>

					<p>De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, INBAR, con domicilio en Plaza de España,1 - San Vicente del Raspeig - Alicante, informa al Usuario que los datos que pueda facilitar a través del Sitio Web serán incorporados a un fichero automatizado de datos de carácter personal titularidad de INBAR. Usted podrá consultar los tratamientos específicos que nuestra Compañía puede hacer con sus datos en cada uno de los apartados de nuestra web donde se recaben sus datos. Le recomendamos leer el contenido de las cláusulas de protección de datos que se incluyen en cada apartado a la hora de recabar sus datos. Con carácter general se tratarán sus datos con las siguientes finalidades:</p>
					<ul>
						<li>Contacto: Los datos recabados serán incorporados a un fichero (que podrá ser automatizado) responsabilidad de INBAR, a los efectos de poder gestionar o en su caso, tener en cuenta y/o contestar a su consulta, comentario o sugerencia.</li>

						<li>Suscripción al Blog: Los datos facilitados en el apartado de “Suscripción al blog” serán utilizados únicamente con la finalidad de poder tenerle informado de las actualizaciones y novedades del blog a través del correo electrónico proporcionado. El servicio de suscripción al blog está gestionado por un tercero distinto a INBAR. Por tanto, Ud. Queda informado y acepta que para la suscripción al blog Ud. Está saliendo del entorno de la página web de INBAR, por lo que antes de facilitar su dirección de correo electrónico le recomendamos que lea la Política de Privacidad del tercero.</li>

						<li>Ofrece tu local: Los datos recabados serán incorporados a un fichero (que podrá ser automatizado) responsabilidad de INBAR, a los efectos de poder gestionar su propuesta de local, y/o tenerle en cuenta de cara a futuros procesos de selección de locales, en su caso.</li>

						<li>Ud. consiente expresamente la cesión de sus datos, para las mismas finalidades, a sociedades del grupo encabezado por GRUPO INBAR, S.L. o sus franquiciados (todos ellos dedicados al sector de la restauración). Asimismo, Ud. se da por informado de la primera cesión o comunicación de datos a favor de EL SOL, S.L., LA TIERRA, S.L. y LA LUNA, S.L., filiales todas ellas de GRUPO INBAR, S.L., dedicadas al sector de la restauración, franquiciadoras de EL SOL, LA TIERRA y LA LUNA u otros conceptos de restauración, y con domicilio Plaza de España,1 - San Vicente del Raspeig - Alicante, a los efectos de dar cumplimiento a la obligación establecida en el artículo 27 de la LOPD.</li>

						<li>En todos los formularios de recogida de datos presentes en el Sitio Web, INBAR facilita una casilla mediante la cual el Usuario podrá oponerse/negarse a la cesión indicada.</li>

						<li>El consentimiento otorgado por el Usuario podrá ser revocado mediante notificación dirigida a la siguiente dirección de correo electrónico: atencioincliente@grupoinbar.com o bien por correo ordinario dirigido a INBAR, Plaza de España,1 - San Vicente del Raspeig - Alicante.</li>

						<li>El Usuario se responsabiliza de la veracidad y exactitud de los datos personales comunicados, reservándose INBAR el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.</li>

						<li>En cualquier caso, el Usuario podrá hacer efectivo el ejerciciode sus derechos de acceso, rectificación, cancelación y oposición, mediante e-mail dirigido atencioncliente@grupoinbar.com como mediante petición escrita dirigida a la dirección postal antes señalada.</li>

						<li>Finalmente Ud. se compromete a comunicar a INBAR cualquier modificación de los datos personales facilitados.</li>

						<li>En caso de que el Usuario sea menor de 14 años, sus datos personales deben ser facilitados con autorización de su representante legal.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL MARCA SOL ===================================================================================== -->
	<div class="modal fade" id="panel-elsol" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true">
		<div class="modal-dialog" id="modal-elsol">
			<div class="modal-content">
<!--				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myLOPD">GRUPO inBAR</h4>
				</div> -->
				<div class="modal-body modal-cuerpo">
					<img class="img-responsive animated fadeIn center-block" src="/images/floxy/inbarasset.png" alt="Third slide">
<!--					<h3>El Sol</h3>
					<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, GRUPO INBAR, S.L. (en adelante, “INBAR” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web https://indoorbar.herokuapp.com </p>
-->				</div>
<!--				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div> -->
			</div>
		</div>
	</div>

	<!-- MODAL MARCA MEDITERRANEO ===================================================================================== -->
	<div class="modal fade" id="panel-mediterraneo" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true">
		<div class="modal-dialog" id="modal-mediterraneo">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myLOPD">GRUPO inBAR</h4>
				</div>
				<div class="modal-body modal-cuerpo" >
					<img class="img-responsive animated fadeIn center-block" src="/images/floxy/inbarasset.png" alt="Third slide">
					<h3>Mediterránero</h3>
					<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, GRUPO INBAR, S.L. (en adelante, “INBAR” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web https://indoorbar.herokuapp.com </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- PIE ============================================================================================================== -->
	<div class="footer" id="pie">
		<div class="row>">
			<div class="col-md-3 col-pie">
				<h4>GRUPO inBAR</h4>
				<h5>Grupo inBAR es el grupo líder en franquicias de éxito de Restauración en España. Actualmente opera en 9 países. En sólo 14 años se ha convertido en un referente de la restauración española, tanto en España como fuera de nuestras fronteras, siendo una empresa de capital 100% español.</h5>
				<h6><a href="/contactos/webform">Contacto</a></h6>
			</div>

			<div class="col-md-3 col-pie">
				<h4>GRUPO inBAR</h4>
				<h5>Grupo inBAR es el grupo líder en franquicias de éxito de Restauración en España. Actualmente opera en 9 países. En sólo 14 años se ha convertido en un referente de la restauración española, tanto en España como fuera de nuestras fronteras, siendo una empresa de capital 100% español.</h5>
			</div>
			<div class="col-md-3 col-pie">
				<h4>NOTICIAS inBAR</h4>
				<h5><a href="#">La historia de inBAR. Desde el comienzo.</a></h5>
				<h5><a href="#">3er. Establecimiento inaugurado. El grupo inBAR abre las puertas de su nuevo establecimiento en una de las mejores zonas de la ciudad.</a></h5>
			</div>
			<div class="col-md-3 col-pie">
				<h4>ESTABLECIMIENTOS inBAR</h4><br>
				<div class="row img-logo-sm">
					<img class="img" src="/images/floxy/logo-elsol.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image"> Mediterráneo</img>
				</div>
				<div class="row img-logo-sm">
					<img class="img" src="/images/floxy/logo-med.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image"> Sol</img>
				</div>
				<div class="row img-logo-sm">
					<img class="img-circle" src="/images/floxy/logo-inbar.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image"> Grupo inBar</img>
				</div>
			</div>
		</div>

<!--		<div class="row">
			<!-- Elastislide Carousel -->
<!--			<ul id="carousel" class="elastislide-list">
				<li><a href="#"><img src="../images/small/1.jpg" alt="image01" /></a></li>
				<li><a href="#"><img src="../images/small/2.jpg" alt="image02" /></a></li>
				<li><a href="#"><img src="../images/small/3.jpg" alt="image03" /></a></li>
				<li><a href="#"><img src="../images/small/4.jpg" alt="image04" /></a></li>
				<li><a href="#"><img src="../images/small/5.jpg" alt="image05" /></a></li>
				<li><a href="#"><img src="../images/small/6.jpg" alt="image06" /></a></li>
				<li><a href="#"><img src="../images/small/7.jpg" alt="image07" /></a></li>
				<li><a href="#"><img src="../images/small/8.jpg" alt="image08" /></a></li>
				<li><a href="#"><img src="../images/small/9.jpg" alt="image09" /></a></li>
				<li><a href="#"><img src="../images/small/10.jpg" alt="image10" /></a></li>
				<li><a href="#"><img src="../images/small/11.jpg" alt="image11" /></a></li>
				<li><a href="#"><img src="../images/small/12.jpg" alt="image12" /></a></li>
				<li><a href="#"><img src="../images/small/13.jpg" alt="image13" /></a></li>
				<li><a href="#"><img src="../images/small/14.jpg" alt="image14" /></a></li>
				<li><a href="#"><img src="../images/small/15.jpg" alt="image15" /></a></li>
				<li><a href="#"><img src="../images/small/16.jpg" alt="image16" /></a></li>
				<li><a href="#"><img src="../images/small/17.jpg" alt="image17" /></a></li>
				<li><a href="#"><img src="../images/small/18.jpg" alt="image18" /></a></li>
				<li><a href="#"><img src="../images/small/19.jpg" alt="image19" /></a></li>
				<li><a href="#"><img src="../images/small/20.jpg" alt="image20" /></a></li>
			</ul>
			<!-- End Elastislide Carousel -->
<!--			<script type="text/javascript" src="/js/jquerypp.custom.js"></script>
			<script type="text/javascript" src="/js/jquery.elastislide.js"></script>
			<script type="text/javascript">$('#carousel').elastislide();</script>
		</div> -->

		<div class="row">
			<div class="col-md-8">
				<p class="text-center">&copy; 2015 Company, Inc. &middot; <a href="https://github.com/jotamontoyo/inbar">GitHub</a> &middot; <a href="#">Terms</a></p>
			</div>
			<div class="col-md-4">
				<div class="fb-share-button rrss-pie" data-href="https://indoorbar.herokuapp.com/" data-layout="button"></div>
				<div class="rrss-pie" style="padding-top: -40px">
					<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="https://indoorbar.herokuapp.com/" data-via="jotamontoyo" data-hashtags="bares"></a>
				</div>
				<div class="rrss-pie">
					<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script>
					<script type="IN/Share" data-url="https://indoorbar.herokuapp.com/"></script>
				</div>
			</div>
		</div>
	</div><!-- end div.footer -->

</body>
</html>
