<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="css3, animations, css, notification, timed, duration, box, overlay, carousel, jquery, responsive, fluid, elastic, resize, thumbnail, slider, accordion, sliding, vertical, hover, animation, slide, navigation, sibling selector, radio buttons, input, pseudo class" />
	<title>INBAR ASSET</title>

<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>

<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css"/>





	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pc.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/tablet.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/movil.css"/>
<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mypath.css"/> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css"/>



<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fancybox.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- PARA SLIDER CON BACKGROUND-IMG ============================================================== -->
<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" /> -->
<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/style3.css" />
	<script type="text/javascript" src="/js/modernizr.custom.86080.js"></script> -->

	<!-- PARA CARRUSEL MULTISLIDE ======================================================================== -->
<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/general.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/elastislide.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />
	<script type="text/javascript" src="/js/modernizr.custom.17475.js"></script> -->

	<!-- PARA ACORDEONES Y CARRUSEL MINIS  ============================================================================ -->
<!--    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <noscript>
			<link rel="stylesheet" type="text/css" href="/stylesheets/styleNoJS.css" />
	</noscript>
	<noscript>
			<link rel="stylesheet" type="text/css" href="/stylesheets/noscript.css" />
	</noscript> -->

	<!-- PARA ACORDEON SLIDORION  ============================================================================ -->
<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/slidorion.css" /> -->

<!--	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->


	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/holder.js"></script>
<!--	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="/js/gmaps.js"></script>
	<script type="text/javascript" src="/js/geoRoutes.js"></script> -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>




	<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<!--	<script type="text/javascript" src="/js/retina.min.js"></script>
	<script type="text/javascript" src="/js/modernizr.js"></script> -->
	<script type="text/javascript" src="/js/main.js"></script>


	<!-- SWEETALERT ======================================================================================= -->
	<script type="text/javascript" src="/js/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css"/>



	<script type="text/javascript" src="/js/languageselector.js"></script>
	<script type="text/javascript" src="/js/jquery.transit.min.js"></script>

	<script type="text/javascript" src="/js/pace.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/pace.css"/>

	<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

	<script type="text/javascript" src="/js/captcha.js"></script>



	<script type="text/javascript" src="/js/recaptcha.js"></script>




	<!-- VARIABLES DEL BOTON FB ============================================================================ -->
<!--	<meta property="og:url"                content="https://indoorbar.herokuapp.com/" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="When Great Minds Don’t Think Alike" />
	<meta property="og:description"        content="How much does culture influence creative thinking?" />
	<meta property="og:image"              content="/images/logoelsol.jpg" /> -->


	<script>

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('push', '_setCookieTimeout', 86400000);
		ga('requiere', 'displayfeatures');
		ga('create', 'UA-74755711-2', 'auto');
		ga('send', 'pageview');

	</script>

</head>

<body>




	<!-- RRSS =============================================================================================================
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
	  		var js, fjs = d.getElementsByTagName(s)[0];
	  		if (d.getElementById(id)) return;
	  		js = d.createElement(s); js.id = id;
	  		js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5";
	  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
		!function(d,s,id) {
			var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)) {
				js=d.createElement(s);js.id=id;
				js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
			}
		}(document, 'script', 'twitter-wjs');
	</script> -->

	<!-- NAVBAR =========================================================================================================== -->
<!--		<% if (!session.user) { %>				lo pongo en index para que carge con el background-image
			<a href="/login">Login&nbsp;</a>
		<%}%> -->

		<% if (session.user) { %>
			<nav class="navbar navbar-reverser" id="menu-admin">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <a class="navbar-brand" href="#">Brand</a> -->
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav" style="margin-left: 40px; margin-top: 8px;">
							<li><a href="/">Inicio <span class="sr-only">(current)</span></a></li>
							<li><a href="/inbar">inBAR </a></li>
							<li><a href="/quizes">Partes </a></li>
							<li><a href="/temas">Centros </a></li>
							<li><a href="/proveedores">Proveedores </a></li>
							<% if (session.user) { %>
								<li><a href="/contactos">Control Contactos </a></li>
							<% } %>
							<li><a href="/contactos/webform">Contacto </a></li>
							<li><a href="/quizes/statistics">Estadísticas </a></li>
							<li><a href="/db/index">DB </a></li>
						</ul>
	<!--					<form class="navbar-form navbar-left" method="get" role="search" action="/quizes?search=search">
							<div class="form-group">
								<input name="search" type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default" value="Enviar">Submit</button>
						</form>  -->
						<ul class="nav navbar-nav navbar-right">
							<div class="form-group" style="color: white">
								<%if(!session.user){%>
									<li><a href="/user">Sign up</a> - <a href="/login">Login&nbsp;</a></li>
								<%}else{%>
									<li>Usuario: <strong><%=session.user.username%></strong> -

										<% if (session.user.isAdmin) {%>
											<a href="/user"><span class="glyphicon glyphicon-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Alta usuario"></span> Nuevo</a> -
										<%}%>
										<a href="/user/<%=session.user.id%>/quizes">
											<span class="glyphicon glyphicon-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Home"></span></a> -
										<a href="/user/<%=session.user.id%>/edit">
											<span class="glyphicon glyphicon-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Settings"></span></a> -
										<a href="/logout">
											<span class="glyphicon glyphicon-off" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="logOff"></span>&nbsp;</a>
									</li>
								<%}%>
							</div>
						</ul>
					</div> <!-- /.navbar-collapse -->
				</div>
			</nav>
		<%}%>



	<!-- CUERPO PRINCIPAL. RENDERIZA VISTAS =============================================================================== -->
	<div class="container-fluid">
		<div class="row">
			<% if (errors.length) { %>
				<span id='ErrorMsgs'>Corregir errores:<br/>
					<% for (var i in errors) { %>
						<span> <%= errors[i].message %> </span><br/>
					<% } %>
				</span>
			<% } %>
			<%- body %>	<!-- directiva ejs. body: convenio para cargar las vistas que se rendericen desde cualquier enrutador: index.js, quiz_controller.js... -->
		</div>
	</div>

	<script type="text/javascript" src="/js/autoscroll.js"></script>            <!-- carga la transicion scroll automatica despues renderizar todo el index.ejs -->

	<!-- Modal ============================================================================================================ -->
<!--	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Título...</h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive" src="../images/jota.jpg" alt="Third slide">
					<h3>Página BootStrap</h3>
					<p>Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.Esta es una página de práticas con el CSS de BootStrap. Es una herramienta que facilita el diseño responsivo y adaptativo a cualquier dispositivo.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div> -->

	<!-- MODAL POLITICA DE PRIVACIDAD ===================================================================================== -->
	<div class="modal fade" id="panel-lopd" tabindex="-1" role="dialog" aria-labelledby="myLOPD" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myLOPD">GRUPO inBAR</h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive" src="../images/logoelsol.jpg" alt="Third slide">
					<h3>Política de Privacidad</h3>
					<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, GRUPO INBAR, S.L. (en adelante, “INBAR” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web https://indoorbar.herokuapp.com (en adelante, el “Sitio Web”) acerca de su política de protección de los datos de carácter personal recogidos de los Usuarios del Sitio Web, para que éstos determinen libre y voluntariamente si desean facilitar a INBAR los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso del Sitio Web.</p>

					<p>Los únicos datos personales a los que INBAR tendrá acceso a través del Sitio Web serán aquellos que el Usuario facilite voluntariamente, así como aquellos otros recogidos a través de las cookies instaladas y cuya Política de Privacidad puede consultar en el siguiente enlace https://indoorbar.herokuapp.com/cookies.</p>

					<p>En cumplimiento de la normativa vigente, INBAR adopta las medidas técnicas y organizativas necesarias para mantener el nivel de seguridad requerido en atención a los datos personales tratados. Asimismo está dotado de los mecanismos precisos a su alcance para evitar en la medida de lo posible accesos no autorizados, sustracciones y modificaciones ilícitas y la pérdida de los datos.</p>

					<p>Tratamiento de datos de carácter personal facilitados a través del Sitio Web.</p>

					<p>De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, INBAR, con domicilio en Plaza de España,1 - San Vicente del Raspeig - Alicante, informa al Usuario que los datos que pueda facilitar a través del Sitio Web serán incorporados a un fichero automatizado de datos de carácter personal titularidad de INBAR. Usted podrá consultar los tratamientos específicos que nuestra Compañía puede hacer con sus datos en cada uno de los apartados de nuestra web donde se recaben sus datos. Le recomendamos leer el contenido de las cláusulas de protección de datos que se incluyen en cada apartado a la hora de recabar sus datos. Con carácter general se tratarán sus datos con las siguientes finalidades:</p>
					<ul>
						<li>Contacto: Los datos recabados serán incorporados a un fichero (que podrá ser automatizado) responsabilidad de INBAR, a los efectos de poder gestionar o en su caso, tener en cuenta y/o contestar a su consulta, comentario o sugerencia.</li>

						<li>Suscripción al Blog: Los datos facilitados en el apartado de “Suscripción al blog” serán utilizados únicamente con la finalidad de poder tenerle informado de las actualizaciones y novedades del blog a través del correo electrónico proporcionado. El servicio de suscripción al blog está gestionado por un tercero distinto a INBAR. Por tanto, Ud. Queda informado y acepta que para la suscripción al blog Ud. Está saliendo del entorno de la página web de INBAR, por lo que antes de facilitar su dirección de correo electrónico le recomendamos que lea la Política de Privacidad del tercero.</li>

						<li>Ofrece tu local: Los datos recabados serán incorporados a un fichero (que podrá ser automatizado) responsabilidad de INBAR, a los efectos de poder gestionar su propuesta de local, y/o tenerle en cuenta de cara a futuros procesos de selección de locales, en su caso.</li>

						<li>Ud. consiente expresamente la cesión de sus datos, para las mismas finalidades, a sociedades del grupo encabezado por GRUPO INBAR, S.L. o sus franquiciados (todos ellos dedicados al sector de la restauración). Asimismo, Ud. se da por informado de la primera cesión o comunicación de datos a favor de EL SOL, S.L., LA TIERRA, S.L. y LA LUNA, S.L., filiales todas ellas de GRUPO INBAR, S.L., dedicadas al sector de la restauración, franquiciadoras de EL SOL, LA TIERRA y LA LUNA u otros conceptos de restauración, y con domicilio Plaza de España,1 - San Vicente del Raspeig - Alicante, a los efectos de dar cumplimiento a la obligación establecida en el artículo 27 de la LOPD.</li>

						<li>En todos los formularios de recogida de datos presentes en el Sitio Web, INBAR facilita una casilla mediante la cual el Usuario podrá oponerse/negarse a la cesión indicada.</li>

						<li>El consentimiento otorgado por el Usuario podrá ser revocado mediante notificación dirigida a la siguiente dirección de correo electrónico: atencioincliente@grupoinbar.com o bien por correo ordinario dirigido a INBAR, Plaza de España,1 - San Vicente del Raspeig - Alicante.</li>

						<li>El Usuario se responsabiliza de la veracidad y exactitud de los datos personales comunicados, reservándose INBAR el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.</li>

						<li>En cualquier caso, el Usuario podrá hacer efectivo el ejerciciode sus derechos de acceso, rectificación, cancelación y oposición, mediante e-mail dirigido atencioncliente@grupoinbar.com como mediante petición escrita dirigida a la dirección postal antes señalada.</li>

						<li>Finalmente Ud. se compromete a comunicar a INBAR cualquier modificación de los datos personales facilitados.</li>

						<li>En caso de que el Usuario sea menor de 14 años, sus datos personales deben ser facilitados con autorización de su representante legal.</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL menu-inicio Abre tu franquicia ==================================================================================================== -->
<!--	<div class="modal fade" id="panel-elegir-franquicia" tabindex="-1" role="dialog" aria-labelledby="myElegirFranquicia" aria-hidden="true">
		<div class="modal-dialog" id="modal-elegir-franquicia">
			<div class="modal-content" id="modal-content-menu-franquicia">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myElegirFranquicia"><img class="icon icon_16" src="/images/icons/Active-Directory-16.png" style="padding-bottom: 4px"> Elige tu modelo</h4>
				</div>
				<div class="">

					<div class="col-md-4 col-sm-4 col-xs-4 modal-franquicia-item text-center">
						<a class="button"
	                        data-toggle="modal"
	                        data-target="#panel-elsol">
								<img class="img-responsive animated fadeIn" src="/images/floxy/logo-inbar4.png" alt="Third slide">
						</a>
						<h6>El Sol</h6>

					</div>

					<div class="col-md-4 col-sm-4 col-xs-4 modal-franquicia-item text-center">
						<a class="button"
	                        data-toggle="modal"
	                        data-target="#panel-after">
								<img class="img-responsive animated fadeIn" src="/images/floxy/logo-med.png" alt="Third slide">
						</a>
						<h6>AfterWork Drinks</h6>

					</div>

					<div class="col-md-4 col-sm-4 col-xs-4 modal-franquicia-item text-center">
						<a class="button"
	                        data-toggle="modal"
	                        data-target="#panel-mediterraneo">
								<img class="img-responsive animated fadeIn" src="/images/floxy/logo-cafe.png" alt="Third slide">
						</a>
						<h6>med</h6>

					</div>


				</div>
				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div> -->

	<!-- MODAL MARCA SOL ===================================================================================== -->
<!--	<div class="modal fade" id="panel-elsol" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true" style="padding-left: 0px">
		<div class="modal-dialog" id="modal-elsol">
			<div class="modal-content" id="modal-content-elsol">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myLOPD">GRUPO <strong>IN</strong><span style="color: rgb(249, 196, 1)">BAR</span></h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive animated fadeIn center-block" src="/images/floxy/inbarasset.png" alt="Third slide">
					<h3>El Sol</h3>
					<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, GRUPO INBAR, S.L. (en adelante, “INBAR” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web https://indoorbar.herokuapp.com </p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-info btn-xs" href="/contactos/webform">Contáctanos</a>
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div> -->

	<!-- MODAL MARCA AFTER ===================================================================================== -->
	<div class="modal fade" id="panel-after" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true" style="padding-left: 0px">
		<div class="modal-dialog" id="modal-after">
			<div class="modal-content" id="modal-content-after">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!--					<div id="header-personas">
		                <h2>NUESTRAS <span class="titulo-secciones ocultar">&nbsp;MARCAS&nbsp;</span></h2>
		            </div> -->
				</div>

				<div class="modal-body">
					<img class="img-responsive animated fadeIn center-block" src="/images/marcas/afterworkdrinks-modal.jpg" alt="Third slide">
					<div class="texto-modelo ocultar">
                        <img src="/images/logos/el-sol-afterdrinks.jpg"></img>
                	</div>
					<br>
					<p>
<!--						<img src="/images/logos/el-sol-marcas.jpg" style="width: 60px; margin-bottom: 10px;" alt=""/> -->
						El Sol
						AFTERWORKS<span style="color: #eb9837"><strong>DRINKS</strong></span>,
						con un estilo contemporáneo muy cálido y urbano, con mucha personalidad y muy acogedor. Está diseñado con madera, piedra y hierro.
					<p>
					<p><strong>Ofrece desayunos, aperitivos, copas, pinchos y tapas contundentes.</strong></p>
					<p><strong>Servicio de  wifi para que la gente pueda estar conectada en todo momento para disfrutar sus ratos de ocio o trabajar relajadamente.</strong></p>
					<p>Te guiamos para que generes tus propias <strong>listas de música</strong>, para contratar personal adecuado, realizar <strong>eventos temáticos, atraer gente  y mantener actualizado tu bar.</strong> Tendrás un ambiente único y diferente de los demás, con eventos originales y entretenidos.</p>
					<p>Si eres un espíritu moderno y siempre quieres llevar tu vida empresarial con música y buen rollo estamos seguros de que eres de los nuestros y podrás llevar tu bar con éxito.</p>
				</div>

				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>

			</div>
		</div>
	</div>

	<!-- MODAL MARCA MEDITERRANEO ===================================================================================== -->
	<div class="modal fade" id="panel-mediterraneo" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true" style="padding-left: 0px">
		<div class="modal-dialog" id="modal-mediterraneo">
			<div class="modal-content" id="modal-content-mediterraneo">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!--					<div id="header-personas">
		                <h2>NUESTRAS <span class="titulo-secciones ocultar">&nbsp;MARCAS&nbsp;</span></h2>
		            </div> -->
				</div>

				<div class="modal-body">
					<img class="img-responsive animated fadeIn" src="/images/marcas/mediterraneo-modal.jpg" alt="">
					<div class="texto-modelo ocultar">
						<img src="/images/logos/el-sol-mediterraneo.jpg" style="left: 0px;"></img>
		        	</div>
					<br>
					<p>
<!--						<img src="/images/logos/el-sol-marcas.jpg" style="width: 60px; margin-bottom: 10px;" alt=""/> -->
						El Sol
						<span style="color: #eb9837"><strong>medi</strong></span>terráneo,
						diseñado con tonalidades azules, con aplicaciones en trencadis y con todo el encanto de la costa mediterránea.
					</p>
					<p><strong>Ofrece desayunos, aperitivos, copas, pinchos y tapas contundentes.</strong></p>
					<p><strong>Servicio de  wifi para que la gente pueda estar conectada en todo momento para disfrutar sus ratos de ocio o trabajar relajadamente.</strong><p>
					<p>Te guiamos para que generes tus propias <strong>listas de música</strong>, para contratar personal adecuado, realizar <strong>eventos temáticos, atraer gente  y mantener actualizado tu bar.</strong> Tendrás un ambiente único y diferente de los demás, con eventos originales y entretenidos.</p>
					<p>Si eres un espíritu moderno y siempre quieres llevar tu vida empresarial con música y buen rollo estamos seguros de que eres de los nuestros y podrás llevar tu bar con éxito.</p>
				</div>

				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>


	<!-- MODAL MAS PREGUNTAS ===================================================================================== -->
	<div class="modal fade" id="panel-mas-preguntas" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true">
		<div class="modal-dialog" id="modal-mas-preguntas">
			<div class="modal-content" id="modal-content-mas-preguntas">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>


				<div class="col-md-6">

					<div class="panel-group" id="accordion-mas" role="tablist" aria-multiselectable="true">

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion-mas" href="#collapseOne-mas" aria-expanded="true" aria-controls="collapseOne">
										9. ¿Cómo funciona la neo franquicia <strong>IN</strong>BAR <span style="color: #eb9837">ASSET</span>? ¿Tengo que compraros los productos a vosotros?
									</a>
								</h4>
							</div>
							<div id="collapseOne-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									La neo franquicia Inbar Asset funciona como cualquier empresa de franquicias del mercado, con la peculiaridad que tenemos la capacidad de ser flexibles a la hora de entrar en el negocio. Los productos no es necesario comprarlos a nosotros, pero sí ser leales con nuestras marcas madre que el franquiciado sabría cuáles son en el momento de obtener más información de nuestro modelo de negocio o empezar a trabajar con nosotros. A este aspecto , no hay que tenerle ningún miedo pues nosotros trabajamos con marcas de primer nivel.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-mas" href="#collapseTwo-mas" aria-expanded="false" aria-controls="collapseTwo">
										10. ¿Tenéis alguna forma de financiación?
									</a>
								</h4>
							</div>
							<div id="collapseTwo-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									Sí, podemos ayudaros con la gestión bancaria de financiación. Si no tenéis ninguna forma de financiación te ayudamos a conseguirla. No lo dudes.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-mas" href="#collapseThree-mas" aria-expanded="false" aria-controls="collapseThree">
										11. Tengo un bar Sol, ¿puedo trabajarlo con vuestra franquicia?
									</a>
								</h4>
							</div>
							<div id="collapseThree-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									Sí, por supuesto, podrías trabajar con nosotros siempre que te quieras adaptar a los requisitos de la empresa y al modelo de negocio bajo nuestras marcas registradas. Para más detalles no dudes en contactarnos.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingFour">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-mas" href="#collapseFour-mas" aria-expanded="false" aria-controls="collapseThree">
										12. ¿Por qué decís que tenéis bares especiales que normalmente no se pueden franquiciar?
									</a>
								</h4>
							</div>
							<div id="collapseFour-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body">
									Decimos que tenemos bares especiales porque nuestra política no es más que crear un tipo de lugar en que te sientas identificado con él. Bares en donde te gustaría estar o trabajar. Su carácter especial es un conjunto de cosas que le dan un aura atractiva que los diferencia en el mercado. Por eso los denominamos "bares con alma"; son bares guays, agradables y donde el formato no afecta su personalidad.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingFive">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-mas" href="#collapseFive-1-mas" aria-expanded="false" aria-controls="collapseThree">
										13. ¿Qué música ponéis en vuestros bares?
									</a>
								</h4>
							</div>
							<div id="collapseFive-1-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body">
									La música forma parte del concepto de nuestro bares. Forma parte de un todo complejo. Por eso es importante tenerla en cuenta para crear la atmósfera. Los estilos pueden ir variando a lo largo del día desde el jazz al pop & rock alternativo pasando por el soul, dreamwave y electrónica hasta un deep house más elegante. Por eso no te preocupes, que te ayudamos con las listas y recibimos aportaciones de buenos datos.
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="col-md-6">

					<div class="panel-group" id="accordion2-mas" role="tablist" aria-multiselectable="true">

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingFive">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion2-mas" href="#collapseFive-mas" aria-expanded="true" aria-controls="collapseOne">
										14. Si abro un bar con vosotros ¿quién es el dueño del bar?
									</a>
								</h4>
							</div>
							<div id="collapseFive-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
								<div class="panel-body">
									Lo normal es que el franquiciado sea el dueño del bar como establecimiento mercantil, aunque como somos una empresa con un modelo flexible nos amoldamos a cada emprendedor. Porque cada persona es un mundo. El local generalmente será de un tercero, salvo que tengas tu propio inmueble. Lo más importante es nuestra imagen de marca que condensa lo que sabemos hacer.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingSix">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2-mas" href="#collapseSix-mas" aria-expanded="false" aria-controls="collapseTwo">
										15. A mí no me interesa la música sino la cocina ¿afecta en eso abrir un bar con vosotros?
									</a>
								</h4>
							</div>
							<div id="collapseSix-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
								<div class="panel-body">
									Sí porque la música forma parte del concepto de nuestros bares. La cocina, si bien es importante como en todo bar,  es un elemento más pues no somos un restaurante, somos un montón de cosas que hacen que el lugar tenga éxito.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingSeve">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2-mas" href="#collapseSeven-mas" aria-expanded="false" aria-controls="collapseThree">
										16. Vivo en un pueblo pequeño y quiero abrir un bar chulo ¿qué cantidad de habitantes debe tener la ciudad?
									</a>
								</h4>
							</div>
							<div id="collapseSeven-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
								<div class="panel-body">
									Tendríamos que hacer un estudio del lugar y ver si reúne las características necesarias para poder montarlo. La cantidad de habitantes rondaría en un mínimo de 35.000 habitantes
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingEight">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2-mas" href="#collapseEight-mas" aria-expanded="false" aria-controls="collapseThree">
										17. ¿Cobran canon de entrada?
									</a>
								</h4>
							</div>
							<div id="collapseEight-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
								<div class="panel-body">
									Sí. Para más detalles no dudes en contactarnos.
								</div>
							</div>
						</div>

						<div class="panel panel-default faq ocultar">
							<div class="panel-heading" role="tab" id="headingEight-1">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2-mas" href="#collapseEight-1-mas" aria-expanded="false" aria-controls="collapseThree">
										18. ¿Qué tipo de personal se necesita para llevar estos bares?
									</a>
								</h4>
							</div>
							<div id="collapseEight-1-mas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight-1">
								<div class="panel-body">
									Nuestros bares necesitan un tipo de camareros con actitud liderados por su dueño. Para saber más detalles no dudes en contactarnos.
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>

			</div>
		</div>
	</div>


	<!-- MODAL SEGUIR LEYENDO - ABRE TU FRANQUICIA ===================================================================================== -->
	<div class="modal fade" id="panel-modal-seguir-leyendo" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true" style="padding-left: 0px">
		<div class="modal-dialog" id="modal-seguir-leyendo">
			<div class="modal-content" id="modal-content-seguir-leyendo">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="row text-center" id="header-contrata-franquicia">
		                <h1>ABRIR UN <span class="titulo-secciones ocultar">&nbsp;BAR&nbsp;</span></h1>
		            </div>
				</div>

				<div class="modal-body">

		            <div class="row" id="textos-contrata-franquicia">
		                <div class="col-md-6 texto-contrata-franquicia">
		                    <p><strong>IN</strong>BAR <span style="color: #eb9837">ASSET</span> Neofranquicias, <strong>bares con alma.</strong></p>
							<p>¿Por qué son <strong>bares con alma</strong>?</p>
							<p>Porque  siempre tenemos <strong>buena música, buen ambiente, pinchos y tapas atractivas</strong> regadas con <strong>cervezas, vermut y vinos.</strong><p>
							<p>Te aportamos <strong>listas de música cuidadosamente seleccionadas</strong> para darle el toque especial a tu bar.</p>
							<p>Para que siempre te sientas a gusto y seas bienvenido desde el <strong>desayuno</strong> con una taza de buen café caliente hasta las <strong>copas</strong> después del trabajo.</p>
							<p>¿Por qué <strong>Neofranquicias</strong>? Es un nuevo concepto de franquicias, porque creamos tendencias contractuales y las remixeamos con modelos de negocios tradicionales para montar bares con éxito y con personalidad propia para personas con actitud.</p>
		                </div>
		                <div class="col-md-6 texto-contrata-franquicia">
							<p>Si piensas que hay <strong>bares tan especiales</strong> imposibles de franquiciar, de esos a los que tanto te gusta ir, te contamos cómo nosotros aprendimos a franquiciarlos sin perder su alma.</p>
							<p>Nuestros bares no son bares low cost (bares de productos baratos). Son bares best value (mejor relación calidad-precio). Nos importan los productos y la atmósfera de consumo.</p>
							<p>Tenemos <strong>30 años de experiencia en  bares, con éxito, con ambientazo y bien administrados.</strong></p>
							<p>¿Quieres ser el dueño de <img src="/images/logos/el-sol-marcas.jpg" alt=""/>? <strong>¿Quieres el bar de tus sueños?</strong></p>
							<p>Si te cuesta dejar quietos tus pies mientras te comes una tapa o un pincho con jamón ibérico escuchando <strong>Weezer, The Who, Tame Impala, Corizonas, Neuman, Charles Bradley, Miles Davis</strong> o acordes parecidos, entonces estamos seguros de complacerte.</p>
							<br>

							<div class="ir-a-contacto">

								<p>Contáctanos para <nav role="navigation">
		                            <a class="btn-ir-contacto" href="#contacto2"><strong><span style="color: #eb9837">&nbsp;abrir un bar</span></strong></a>
		                        </nav></p>

							</div>

		                </div>
		            </div>
				</div>
				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>


	<!-- MODAL PERFIL 1 ===================================================================================== -->
	<div class="modal fade" id="panel-perfil-1" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true" style="padding-left: 0px">
		<div class="modal-dialog" id="modal-perfil-1">
			<div class="modal-content" id="modal-content-perfil-1">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<img class="img-responsive animated fadeIn" src="/images/rrhh/antonio-ByN.jpg" alt="Third slide">
					<h3><strong>Proyectos & Expansión</strong></h3>
					<h3>Antonio Mazón Pastor</h3>
					<small><a href="mailto:antoniomazon@inbarasset.es">antoniomazon@inbarasset.es</a></small>
					<br><br>
					<p>Antonio es empresario en restauración con más de 30 años de práctica en el mundo de los bares. Es Project Manager de Inbar Asset y encargado del área de expansión. Es experto en dirección de proyectos de montaje de bares, interiorismo, gráfica publicitaria y ambientación. Coautor del libro “El secreto del éxito de los bares” (Editorial Punto Rojo 2016).</p>

					<div class="row marcas-pie">
						<div class="container centrado-v">
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie-modal">
									<a href="#"> <img class="img-responsive" src="/images/rrss/linkedin.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie-modal">
									<a href="#"> <img class="img-responsive" src="/images/logos/el-secreto-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie-modal">
										<a href="#"> <img class="img-responsive" src="/images/logos/inbaar-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie-modal">
									<a href="#"> <img class="img-responsive" src="/images/logos/el-sol-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie-modal">

								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie-modal">

								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>

			</div>
		</div>
	</div>


	<!-- MODAL PERFIL 2 ===================================================================================== -->
	<div class="modal fade" id="panel-perfil-2" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true">
		<div class="modal-dialog" id="modal-perfil-2">
			<div class="modal-content" id="modal-content-perfil-2">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<img class="img-responsive animated fadeIn" src="/images/rrhh/rodrigo-ByN.jpg" alt="Third slide">
					<h3><strong>Franquicias, Marcas & Contratos</strong></h3>
					<h3>Rodrigo Ramírez Herrera</h3>
					<p>Rodrigo es abogado, blogger, doctor en Derecho, magister en propiedad intelectual e industrial y especialista en argumentación jurídica (Universidad de Alicante). Es investigador académico de la Universidad de Alicante. Tiene 25 años de experiencia en el desarrollo de negocios locales e internacionales y en la creación de empresas innovadoras. Con Antonio es coautor del libro “El secreto del éxito de los bares” (Editorial Punto Rojo 2016).</p>

					<div class="row marcas-pie">
						<div class="container centrado-v">
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
									<a href="#"> <img class="img-responsive" src="/images/rrss/linkedin.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
									<a href="#"> <img class="img-responsive" src="/images/logos/el-secreto-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
										<a href="#"> <img class="img-responsive" src="/images/logos/inbaar-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
									<a href="#"> <img class="img-responsive" src="/images/logos/el-sol-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">

								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">

								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>

			</div>
		</div>
	</div>


	<!-- MODAL PERFIL 3 ===================================================================================== -->
	<div class="modal fade" id="panel-perfil-3" tabindex="-1" role="dialog" aria-labelledby="myelsol" aria-hidden="true">
		<div class="modal-dialog" id="modal-perfil-3">
			<div class="modal-content" id="modal-content-perfil-3">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<img class="img-responsive animated fadeIn" src="/images/rrhh/francisco-BN.jpg" alt="Third slide">
					<h3><strong>Administración & Finanzas</strong></h3>
					<h3>Francisco Andrés Belló Pomares</h3>
					<p>Francisco es Diplomado en Ciencias Empresariales y Licenciado en Economía, (Universidad de Alicante) y magister en asesoría fiscal (Universidad Miguel Hernández). Es especialista en ciencias empresariales, asesoría fiscal, contabilidad, análisis de balances, control presupuestario, y planificación financiera y bancaria.</p>

					<div class="row marcas-pie">
						<div class="container centrado-v">
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
									<a href="#"> <img class="img-responsive" src="/images/rrss/linkedin.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
									<a href="#"> <img class="img-responsive" src="/images/logos/el-secreto-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
										<a href="#"> <img class="img-responsive" src="/images/logos/inbaar-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">
									<a href="#"> <img class="img-responsive" src="/images/logos/el-sol-pie.png" alt="" /></a>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">

								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-3 col-marca-pie">
								<div class="img-marca-pie">

								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
						Close
					</button>
				</div>

			</div>
		</div>
	</div>





	<!-- PIE2 ============================================================================================================== -->

	<div class="container-fluid" id="pie2">

		<div id="img-bg-pie">

			<div class="container-fluid ocultar-pc" id="header-pie">
					<h4>contacto@inbarasset.es</h4>
					<h4>Teléfono +34 601 23 79 19</h4>
			</div>

			<div class="container" id="rrss-pie">
				<div class="row centrado-v-h">
					<div class="img-logo-sm col-md-2 col-sm-2 col-xs-2">
						<a href="#"> <img src="/images/rrss/facebook.png" alt="" /></a>
					</div>
					<div class="img-logo-sm col-md-2 col-sm-2 col-xs-2">
						<a href="#"> <img src="/images/rrss/whatsapp.png" alt="" /></a>
					</div>
					<div class="img-logo-sm col-md-2 col-sm-2 col-xs-2">
						<a href="#"> <img src="/images/rrss/twitter.png" alt="" /></a>
					</div>
					<div class="img-logo-sm col-md-2 col-sm-2 col-xs-2">
						<a href="#"> <img src="/images/rrss/linkedin.png" style="width:90px" alt="" /></a>
					</div>
					<div class="img-logo-sm col-md-2 col-sm-2 col-xs-2">
						<a href="#"> <img src="/images/rrss/skype.png" style="width: 80px" alt="" /></a>
					</div>
				</div>
			</div>

			<div class="row marcas-pie">
				<div class="container centrado-v-h">
					<div class="col-md-4 col-sm-4 col-xs-4 col-marca-pie">
						<div class="img-marca-pie">
							<a href="#"> <img class="img-responsive" src="/images/logos/el-secreto-pie.png" alt="" /></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 col-marca-pie">
						<div class="img-marca-pie">
								<a href="#"> <img class="img-responsive" src="/images/logos/inbaar-pie.png" alt="" /></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 col-marca-pie">
						<div class="img-marca-pie">
							<a href="#"> <img class="img-responsive" src="/images/logos/el-sol-pie.png" alt="" /></a>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="container-fluid ocultar-movil" id="copyright">
				<h4>&copy; 2016 Inbar Asset &nbsp;&nbsp;&nbsp;&nbsp; Teléfono +34 601 23 79 19 &nbsp;&nbsp;&nbsp;&nbsp; contacto@inbarasset.es</h4>
		</div>

		<div class="container-fluid ocultar-pc" id="footer-pie">
				<h4>&copy; 2016 Inbar Asset</h4>
		</div>

	</div><!-- end div.footer -->

</body>
</html>
